@font-face{
    font-family: 'FuenteExtra';
    src: url('/Primera_Página/Fuentes/parrafos.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../Fuentes/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../Fuentes/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Lato-Light';
    src: url(../Fuentes/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato-Regular';
    src: url(../Fuentes/Lato-Regular.ttf);
}

/*CSS del documento html*/

html {
    min-height: 100%;
    position: relative;
}

header{
    /* background-image: url(../Imagenes/cafemano.jpg); */
    background-color: rgb(29, 27, 27);
    margin: 0;
    overflow: hidden;
    width: 100%;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(../Imagenes/coffee-2698126_1280.jpg); 
    background-position: center;
    background-size:auto;
    height: 100%;
    margin: 0;
    margin-bottom: 60px; /* Valor que da un espacio para el foooter, no cambiar a menos que se desee un footer más grande */
}

/*Fin del css del documento html*/

/*Personalización del header */
.empresa{
    font-size: xx-large;
    font-family: 'Lato-Regular';
    align-items:center;
    color: white;
}

 .txt-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Inicio{
    width: 100%;
    position: fixed;
}

/*Fin de la personalización del header*/

/*Personalización del contenido de la página de inicio*/
.explorar{
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    width: 700px;
    margin-bottom: 60px;
}

.apartadoImagen{
    margin-top: 120px;
    padding-top: 20px;
    padding-left: 50px;
    width: 500px;
    /* display: block; */
    float: left;
    position: top;
    margin-bottom: 80px;
}


.apartadoImagen p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.explorar p{
    margin-top: 2px;
    color: white;
    font-family: 'Roboto-Light';
    font-size: large;
    font-weight: 100;
}

/*Fin de la personalización del contenido de la página inicio*/

/*Personalización del id menú correspondiente al header*/

.menu{
    text-align: right;
}

.menu a{
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
}

.menu li{
    display: inline;
}

/* #menu a:hover{
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(43, 41, 41);
} /*

/*Fin de la personalización del menú en el header*/

/*Control del contenido de la página de explorar redes*/

#explorarRedes{
    float: left;
    margin-top: 120px;
    margin-left: 20px;
    width: 700px;
    margin-bottom: 60px;
}

#explorarRedes h2{
    font-size: 30px;
}

#explorarRedes p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: large;
}

#explorarRedes a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: large;
}

#NotasImportantes{
    margin-top: 120px;
    padding-top: 20px;
    padding-left: 50px;
    width: 500px;
    float: left;
    position: top;
}

#TituloNotas{
    font-size: 25px;
}

#notasContact{
    font-family: sans-serif;
    font-size: medium;
}

#explorarProductos{
    float: left;
    margin-top: 200px;
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    text-align: center;
}

#explorarProductos p{
    font-family: sans-serif;
}

#Advertencia{
    font-size: 70px;
}

/*Fin de la personalización del contenido de la página de contáctanos*/

#contenedorContenido{
    float: left;
    width: 100%;
    margin-top: 129px;
    margin-bottom: 60px;
}

#CuadroContenedor{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    width: 250px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

#CuadroContenedor h1{
    padding-right: 10px;
    padding-left: 0;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

#CuadroContenedor p{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

#txt{
    width: 210px;
    margin-left: 10px;
    appearance: none;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

#CuadroContenedor button{
    background-color:whitesmoke;
    border-color: gray;
    border-radius: 5px;
    margin-left: 11px;
    margin-top: 20px;
    margin-right: 37px;
}

#recuperar{
    margin-right: 15px;
    text-align: center;
    margin-top: 50px;
}

#recuperar a{
    font-size: 11px;
}


/* Personalizaciones globales no modificar a menos que desees una característica globarl */

a{
  background: rgb(29, 27, 27); /* color de fondo */
  color: white; /* color de fuente */
  border: 2px solid white; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
    /*font-family: 'Roboto-Light';
    color: black;
    text-decoration:underline; */
}

a:hover{
    color: black;
}

a::after{
  content: "";
  background: white; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scale(0, 1);
  transition: all 0.3s ease;
}

a:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

li{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    margin-bottom: 5px;
    margin-top: 15px;
    color: white;
    font-size: 30px;
    font-family: "Work Sans", sans-serif;
    font-weight:bold;
}

h4{
    font-size: 20px;
    font-family: sans-serif;
    color: red;
}

footer{
    width: 100%;
    position: absolute;
    height: 60px;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(29, 27, 27);
}

/* Configuración adaptable para dispositivos móviles */
@media screen and (min-width: 360px){

    header{
        width: 360px;
    }

    .Inicio{
        width: 360px;
    }

    .cab{
        width: 360px;
    }

    .empresa{
        margin-top: 10px;
        margin-bottom: 0px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: bolder;
        display: block;
        text-align: center;
        width: 360px;
    }

    .txt-nav{
        width: 360px;
        display:block;
    }

    .txt-nav a{
        margin-top: 20px;
        margin-right: 35px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        font-size: large;
        text-align: center;
    }

    .explorar{
        text-align: justify;
        margin-top: 280px;
        margin-bottom: 0;
        margin-right: 10px;
        margin-left: 10px;
        width: 360px;
    }

    .apartadoImagen{
        background-color: aqua;
        color: white;
        margin-top: 0;
        width: 300px;
    }

    .apartadoImagen img{
        float: left;
        width: 200px;
    }
}
